body{
    margin: 0px;
    padding: 0px;
    background-color: #3d3d3d;
}

canvas{
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #4b4b4b;
}

